export(makeMethPlot)
export(methByRegion)
importFrom(ReportingTools, HTMLReport, publish, finish, Link)
importFrom(Gviz, DataTrack, IdeogramTrack, GenomeAxisTrack, GeneRegionTrack)
importFrom(GenomicRanges, GRanges, GRangesList)
importFrom(IRanges, IRanges, '%over%', findOverlaps, subjectHits)
importFrom(minfi, getM, rowData)
importFrom(lattice, xyplot, dotplot, panel.lmline, panel.xyplot)
importFrom(AnnotationDbi, select)
