export(makeMethPlot)
export(methByRegion)
importFrom(biomaRt, getBM, useMart)
importFrom(ReportingTools, HTMLReport, publish, finish, Link)
importFrom(GenomeGraphs, makeGeneRegion, makeTextOverlay, makeSmoothing,
           DisplayPars, makeTitle, gdPlot, makeGenomeAxis, makeGenericArray)
importFrom(GenomicRanges, GRanges, GRangesList)
importFrom(IRanges, IRanges, '%over%', findOverlaps, subjectHits)
importFrom(minfi, getM, rowData)
importFrom(lattice, xyplot, dotplot, panel.lmline, panel.xyplot)
importFrom(AnnotationDbi, select)
