export(makeMethPlot)
export(methByRegion)
importFrom(biomaRt, getBM, useMart)
importFrom(ReportingTools, HTMLReport, publish, finish, Link)
importFrom(GenomeGraphs, makeGeneRegion, makeTextOverlay, makeSmoothing, DisplayPars, makeTitle, gdPlot, makeGenomeAxis)
importFrom(GenomicRanges, GRanges, GRangesList)
importFrom(IRanges, IRanges, '%over%')
